<div class="modal_main detail">
    <div class="btn-item-holder">
        <div class="top-bar-fixed">
            <h>操作</h>
        </div>

        <div class="single-btn-box">
            <button class="btn btn-primary" ng-click="onClickModal()">默认模态框</button>
            <button class="btn btn-primary" ng-click="onClickConfirm()">默认确认框</button>
        </div>
    </div>


    <div class="top-bar">
        <h>模态框</h>
    </div>
    <div class="item-detail">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="onClickModal()">默认模态框</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="onClickConfirm()">默认确认框</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="onClickConfirm2()">默认确认框2</button>
            </div>
        </div>
    </div>
</div>