<div class="notification-detail detail">
    <div class="top-bar">
        <h>提示语</h>
    </div>
    <div class="item-detail">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default" ng-click="info()">提示</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-danger" ng-click="error()">error</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-info" ng-click="info()">info</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" ng-click="success()">成功</button>
            </div>
        </div>


    </div>
</div>
