.error-span {
    line-height: 30px;
    margin-left: 10px;
    color: red;
}

.ui-notification.info {
	background: #5bb1e2;
}
.ui-notification.error {
	background: #da615d;
}
.ui-notification.success {
	background: #5cb85c;
}
.succeed{
	color: #0b97c4;
}
.fail{
	color:red;
}
.multi-line {
	word-wrap: normal;
	white-space: normal;
}

.one-line {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.mr10{
	margin-right: 10px;
}