.drag-detail .kuai {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.drag-detail .kuai .handle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #000;
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.drag-detail .col-xs-12 {
  white-space: initial;
}


.img_upload .cover-img {
  width: 100%;
}



.dialogMoveUp .kuai {
  width: 100%;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.dialogMoveUp .kuai .handle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #000;
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.dialogMoveUp .col-xs-12 {
  white-space: initial;
}
